In [1]:
import pandas as pd

In [2]:
FILE_PATH = '../data/raw/survey_results_public.csv'
LOAD_PATH = '../data/interim/'
LOAD_DF_NAME = '4.0-preprocessed-data_rec.pkl'
SAVE_DF_NAME = '4.1-preprocessed-data_skills_dev.pkl'

# Load Data

In [3]:
survey = pd.read_pickle(LOAD_PATH + LOAD_DF_NAME)

In [4]:
survey

      MainBranch   EdLevel YearsCodePro             DevType             \
      MainBranch   EdLevel YearsCodePro Academic researcher Blockchain
2              0  0.777778     0.098039                   0          0
3              1  0.666667     0.333333                   0          0
7              1  0.444444     0.000000                   0          0
9              1  0.444444     0.588235                   0          0
10             1  0.666667     0.039216                   0          0
...          ...       ...          ...                 ...        ...
73262          0  0.333333     0.000000                   0          0
73263          1  0.666667     0.098039                   0          0
73264          1  0.777778     0.098039                   0          0
73265          0  0.666667     0.647059                   0          0
73266          1  0.666667     0.607843                   0          0

                                                              \
      Cloud infrastructure engineer Data or business analyst
2                                 0                        0
3                                 0                        0
7                                 0                        0
9                                 0                        0
10                                0                        0
...                             ...                      ...
73262                             0                        0
73263                             0                        0
73264                             0                        0
73265                             0                        0
73266                             0                        0

                                                                            \
      Data scientist or machine learning specialist Database administrator
2                                                 1                      0
3                                                 0                      0
7                                                 0                      0
9                                                 0                      0
10                                                0                      0
...                                             ...                    ...
73262                                             0                      0
73263                                             0                      0
73264                                             1                      0
73265                                             0                      0
73266                                             0                      0

                ... NEWCollabToolsWantToWorkWith                               \
      Designer  ...                        Rider RubyMine Spyder Sublime Text
2            0  ...                            0        0      0            0
3            0  ...                            0        0      0            0
7            0  ...                            0        0      0            1
9            0  ...                            0        0      0            0
10           0  ...                            1        0      0            0
...        ...  ...                          ...      ...    ...          ...
73262        0  ...                            0        0      0            0
73263        0  ...                            0        0      0            1
73264        0  ...                            0        0      1            0
73265        0  ...                            0        0      1            0
73266        0  ...                            0        0      0            0


      TextMate Vim Visual Studio Visual Studio Code Webstorm Xcode
2            0   0             1                  0        0     0
3            0   0             1                  1        0     0
7            0   1             0                  1        0     0
9            0   0             0                  1        0     1
10           0   0             0                  1        0     0
...        ...  ..           ...                ...      ...   ...
73262        0   0             0                  1        0     0
73263        0   1             0                  1        0     0
73264        0   1             0                  1        0     0
73265        0   0             1                  1        0     0
73266        0   0             1                  0        0     0

[50423 rows x 355 columns]

------

We need skills only and DevType, because we need to recommend skills to Dev Type or vice versa. but first we need to rescale the existence of these skills based on the other feature for example: if one works as Developer, we can deal its skills with the one who practice programming as hoppy

# 1. Rescale with MainBranch
we can rescale non developer skills as half of importance of developer skills

In [5]:
survey['MainBranch'] = survey['MainBranch']['MainBranch'].astype('float32')
survey.loc[survey['MainBranch','MainBranch'] == 0.0,'MainBranch'] = .5

In [6]:
survey

      MainBranch   EdLevel YearsCodePro             DevType             \
      MainBranch   EdLevel YearsCodePro Academic researcher Blockchain
2            0.5  0.777778     0.098039                   0          0
3            1.0  0.666667     0.333333                   0          0
7            1.0  0.444444     0.000000                   0          0
9            1.0  0.444444     0.588235                   0          0
10           1.0  0.666667     0.039216                   0          0
...          ...       ...          ...                 ...        ...
73262        0.5  0.333333     0.000000                   0          0
73263        1.0  0.666667     0.098039                   0          0
73264        1.0  0.777778     0.098039                   0          0
73265        0.5  0.666667     0.647059                   0          0
73266        1.0  0.666667     0.607843                   0          0

                                                              \
      Cloud infrastructure engineer Data or business analyst
2                                 0                        0
3                                 0                        0
7                                 0                        0
9                                 0                        0
10                                0                        0
...                             ...                      ...
73262                             0                        0
73263                             0                        0
73264                             0                        0
73265                             0                        0
73266                             0                        0

                                                                            \
      Data scientist or machine learning specialist Database administrator
2                                                 1                      0
3                                                 0                      0
7                                                 0                      0
9                                                 0                      0
10                                                0                      0
...                                             ...                    ...
73262                                             0                      0
73263                                             0                      0
73264                                             1                      0
73265                                             0                      0
73266                                             0                      0

                ... NEWCollabToolsWantToWorkWith                               \
      Designer  ...                        Rider RubyMine Spyder Sublime Text
2            0  ...                            0        0      0            0
3            0  ...                            0        0      0            0
7            0  ...                            0        0      0            1
9            0  ...                            0        0      0            0
10           0  ...                            1        0      0            0
...        ...  ...                          ...      ...    ...          ...
73262        0  ...                            0        0      0            0
73263        0  ...                            0        0      0            1
73264        0  ...                            0        0      1            0
73265        0  ...                            0        0      1            0
73266        0  ...                            0        0      0            0


      TextMate Vim Visual Studio Visual Studio Code Webstorm Xcode
2            0   0             1                  0        0     0
3            0   0             1                  1        0     0
7            0   1             0                  1        0     0
9            0   0             0                  1        0     1
10           0   0             0                  1        0     0
...        ...  ..           ...                ...      ...   ...
73262        0   0             0                  1        0     0
73263        0   1             0                  1        0     0
73264        0   1             0                  1        0     0
73265        0   0             1                  1        0     0
73266        0   0             1                  0        0     0

[50423 rows x 355 columns]

## 2. Rescale [EdLevel, YearsCodePro, OrgSize]: Add some smothing values to avoid zero of MinMaxScaling

In [7]:
survey.loc[:,['OrgSize', 'EdLevel', 'YearsCodePro']] += .1

In [8]:
survey

      MainBranch   EdLevel YearsCodePro             DevType             \
      MainBranch   EdLevel YearsCodePro Academic researcher Blockchain
2            0.5  0.877778     0.198039                   0          0
3            1.0  0.766667     0.433333                   0          0
7            1.0  0.544444     0.100000                   0          0
9            1.0  0.544444     0.688235                   0          0
10           1.0  0.766667     0.139216                   0          0
...          ...       ...          ...                 ...        ...
73262        0.5  0.433333     0.100000                   0          0
73263        1.0  0.766667     0.198039                   0          0
73264        1.0  0.877778     0.198039                   0          0
73265        0.5  0.766667     0.747059                   0          0
73266        1.0  0.766667     0.707843                   0          0

                                                              \
      Cloud infrastructure engineer Data or business analyst
2                                 0                        0
3                                 0                        0
7                                 0                        0
9                                 0                        0
10                                0                        0
...                             ...                      ...
73262                             0                        0
73263                             0                        0
73264                             0                        0
73265                             0                        0
73266                             0                        0

                                                                            \
      Data scientist or machine learning specialist Database administrator
2                                                 1                      0
3                                                 0                      0
7                                                 0                      0
9                                                 0                      0
10                                                0                      0
...                                             ...                    ...
73262                                             0                      0
73263                                             0                      0
73264                                             1                      0
73265                                             0                      0
73266                                             0                      0

                ... NEWCollabToolsWantToWorkWith                               \
      Designer  ...                        Rider RubyMine Spyder Sublime Text
2            0  ...                            0        0      0            0
3            0  ...                            0        0      0            0
7            0  ...                            0        0      0            1
9            0  ...                            0        0      0            0
10           0  ...                            1        0      0            0
...        ...  ...                          ...      ...    ...          ...
73262        0  ...                            0        0      0            0
73263        0  ...                            0        0      0            1
73264        0  ...                            0        0      1            0
73265        0  ...                            0        0      1            0
73266        0  ...                            0        0      0            0


      TextMate Vim Visual Studio Visual Studio Code Webstorm Xcode
2            0   0             1                  0        0     0
3            0   0             1                  1        0     0
7            0   1             0                  1        0     0
9            0   0             0                  1        0     1
10           0   0             0                  1        0     0
...        ...  ..           ...                ...      ...   ...
73262        0   0             0                  1        0     0
73263        0   1             0                  1        0     0
73264        0   1             0                  1        0     0
73265        0   0             1                  1        0     0
73266        0   0             1                  0        0     0

[50423 rows x 355 columns]

# 3. Rescale 'WantToWorkWith' skills to be a half of 'HaveWorkedWith' skills

In [9]:
for column in survey.columns.get_level_values(0).unique():
    if 'WantToWorkWith' in column:
        survey[column] = survey[column] * .5

In [10]:
survey['LanguageWantToWorkWith']

,APL,Assembly,Bash/Shell,C,C#,C++,COBOL,Clojure,Crystal,Dart,...,R,Ruby,Rust,SAS,SQL,Scala,Solidity,Swift,TypeScript,VBA
2,0.0,0.0,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0
3,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.5,0.0
7,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0
10,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73262,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73263,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.5,0.0
73264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73265,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0
73266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 4. Concat 'WantToWorkWith' with 'HaveWorkedWith'

In [11]:
skills_df = {}
for column in survey.columns.get_level_values(0).unique():
    if 'HaveWorkedWith' in column:
        want_column = column.replace('HaveWorkedWith','WantToWorkWith')
        new_column = column.replace('HaveWorkedWith','s')
        skills_df[new_column] = survey[column] + survey[want_column]

In [12]:
skills_df = pd.concat(skills_df, axis=1)
skills_df

      Languages                                                                \
            APL Assembly Bash/Shell    C   C#  C++ COBOL Clojure Crystal Dart
2           0.0      0.0        0.0  0.0  1.5  1.5   0.0     0.0     0.0  0.0
3           0.0      0.0        0.0  0.0  1.5  0.0   0.0     0.0     0.0  0.0
7           0.5      0.0        0.5  1.0  0.0  1.0   0.0     0.0     0.0  0.0
9           0.0      0.0        0.0  0.0  0.0  0.0   0.0     0.0     0.0  0.0
10          0.0      0.0        1.0  0.0  1.5  0.0   0.0     0.0     0.0  0.0
...         ...      ...        ...  ...  ...  ...   ...     ...     ...  ...
73262       0.0      1.0        0.0  1.0  0.0  1.5   0.0     0.0     0.0  0.0
73263       0.0      0.0        1.5  0.0  0.0  0.0   0.0     0.0     0.0  1.0
73264       0.0      0.0        1.0  0.0  0.0  0.0   0.0     0.0     0.0  0.0
73265       0.0      0.0        0.0  0.0  0.5  0.0   0.0     0.0     0.0  0.0
73266       0.0      0.0        0.0  0.0  1.0  0.0   0.0     0.0     0.0  0.0

       ... NEWCollabToolss                                             \
       ...           Rider RubyMine Spyder Sublime Text TextMate  Vim
2      ...             0.0      0.0    0.0          0.0      0.0  0.0
3      ...             0.0      0.0    0.0          0.0      0.0  0.0
7      ...             0.0      0.0    0.0          0.5      0.0  0.5
9      ...             0.0      0.0    0.0          0.0      0.0  0.0
10     ...             1.5      0.0    0.0          0.0      0.0  0.0
...    ...             ...      ...    ...          ...      ...  ...
73262  ...             0.0      0.0    0.0          0.0      0.0  0.0
73263  ...             0.0      0.0    0.0          1.5      0.0  1.5
73264  ...             0.0      0.0    1.5          0.0      0.0  1.5
73265  ...             0.0      0.0    1.5          0.0      0.0  0.0
73266  ...             0.0      0.0    0.0          0.0      0.0  0.0


      Visual Studio Visual Studio Code Webstorm Xcode
2               1.5                0.0      0.0   0.0
3               1.5                1.5      0.0   0.0
7               1.0                0.5      0.0   0.0
9               0.0                1.5      0.0   1.5
10              1.0                1.5      0.0   0.0
...             ...                ...      ...   ...
73262           0.0                1.5      0.0   0.0
73263           0.0                1.5      0.0   0.0
73264           0.0                1.5      0.0   0.0
73265           1.5                1.5      0.0   0.0
73266           1.5                0.0      0.0   0.0

[50423 rows x 161 columns]

In [13]:
skills_df['Databases']

,Cassandra,Cloud Firestore,CouchDB,Couchbase,DynamoDB,Elasticsearch,Firebase Realtime Database,IBM DB2,MariaDB,Microsoft SQL Server,MongoDB,MySQL,Neo4j,Oracle,PostgreSQL,Redis,SQLite
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.5,0.0,0.5,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73263,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,1.5,1.5,0.0
73264,0.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0,1.0,0.0,0.5,1.0,0.0,0.0,1.5
73265,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,1.5,0.0,1.5,0.0,0.0,1.5,0.0,1.5
73266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

# 5. Rescale this 'skills df' with values of ['MainBranch', 'OrgSize', 'EdLevel', 'YearsCodePro']

In [14]:
rescale_columns = ['MainBranch', 'OrgSize', 'EdLevel', 'YearsCodePro']
for column in rescale_columns:
    for skill_col in skills_df.columns.get_level_values(0).unique():
        skills_df[skill_col] = skills_df[skill_col].values * survey[column].values

In [15]:
skills_df

      Languages                                                           \
            APL  Assembly Bash/Shell         C        C#       C++ COBOL
2      0.000000  0.000000   0.000000  0.000000  0.078225  0.078225   0.0
3      0.000000  0.000000   0.000000  0.000000  0.348833  0.000000   0.0
7      0.002722  0.000000   0.002722  0.005444  0.000000  0.005444   0.0
9      0.000000  0.000000   0.000000  0.000000  0.000000  0.000000   0.0
10     0.000000  0.000000   0.074712  0.000000  0.112069  0.000000   0.0
...         ...       ...        ...       ...       ...       ...   ...
73262  0.000000  0.002167   0.000000  0.002167  0.000000  0.003250   0.0
73263  0.000000  0.000000   0.159422  0.000000  0.000000  0.000000   0.0
73264  0.000000  0.000000   0.034767  0.000000  0.000000  0.000000   0.0
73265  0.000000  0.000000   0.000000  0.000000  0.085912  0.000000   0.0
73266  0.000000  0.000000   0.000000  0.000000  0.271340  0.000000   0.0

                                 ... NEWCollabToolss                     \
      Clojure Crystal      Dart  ...           Rider RubyMine    Spyder
2         0.0     0.0  0.000000  ...        0.000000      0.0  0.000000
3         0.0     0.0  0.000000  ...        0.000000      0.0  0.000000
7         0.0     0.0  0.000000  ...        0.000000      0.0  0.000000
9         0.0     0.0  0.000000  ...        0.000000      0.0  0.000000
10        0.0     0.0  0.000000  ...        0.112069      0.0  0.000000
...       ...     ...       ...  ...             ...      ...       ...
73262     0.0     0.0  0.000000  ...        0.000000      0.0  0.000000
73263     0.0     0.0  0.106281  ...        0.000000      0.0  0.000000
73264     0.0     0.0  0.000000  ...        0.000000      0.0  0.052150
73265     0.0     0.0  0.000000  ...        0.000000      0.0  0.257735
73266     0.0     0.0  0.000000  ...        0.000000      0.0  0.000000

                                                                        \
      Sublime Text TextMate       Vim Visual Studio Visual Studio Code
2         0.000000      0.0  0.000000      0.078225           0.000000
3         0.000000      0.0  0.000000      0.348833           0.348833
7         0.002722      0.0  0.002722      0.005444           0.002722
9         0.000000      0.0  0.000000      0.000000           0.168618
10        0.000000      0.0  0.000000      0.074712           0.112069
...            ...      ...       ...           ...                ...
73262     0.000000      0.0  0.000000      0.000000           0.003250
73263     0.159422      0.0  0.159422      0.000000           0.159422
73264     0.000000      0.0  0.052150      0.000000           0.052150
73265     0.000000      0.0  0.000000      0.257735           0.257735
73266     0.000000      0.0  0.000000      0.407010           0.000000


      Webstorm     Xcode
2          0.0  0.000000
3          0.0  0.000000
7          0.0  0.000000
9          0.0  0.168618
10         0.0  0.000000
...        ...       ...
73262      0.0  0.000000
73263      0.0  0.000000
73264      0.0  0.000000
73265      0.0  0.000000
73266      0.0  0.000000

[50423 rows x 161 columns]

# 6. Concat skills_df with DevType

In [16]:
dev_df = survey['DevType']
dev_df.columns = pd.MultiIndex.from_product([['DevType'],survey['DevType'].columns])

In [17]:
skills_dev_df = pd.concat([skills_df, dev_df], axis=1, join='inner')

In [18]:
skills_dev_df['DevType']

,Academic researcher,Blockchain,Cloud infrastructure engineer,Data or business analyst,Data scientist or machine learning specialist,Database administrator,Designer,DevOps specialist,Developer_QA or test,Developer_back-end,...,Engineering manager,Marketing or sales professional,Other (please specify):,Product manager,Project manager,Scientist,Security professional,Senior Executive (C-Suite_VP_etc.),Student,System administrator
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73262,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
73263,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73264,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73265,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
73266,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
skills_dev_df.to_pickle(LOAD_PATH + SAVE_DF_NAME)